body{
    background-color: #EFD592;
}
button{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 240px;
    height: 50px;

    border: #242D38 solid 4px;

    background-color: #EFD592;
    color: #242D38;
    font-size: 16px;
    letter-spacing: 0.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}